@import "./variables";

//mobile
@media only screen and (max-width: 600px) {
  .product-item {
    width: 130px;
  }
}
.product-item {
  margin-bottom: 20px;
  min-height: 200px;

  .price {
    display: block;
    color: $brand_1;
    font-weight: 700;
  }

  .text {
    margin-top: 5px;
    display: block;
    color: black;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .img-area {
    border: 1.17px solid #f3f0fe;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22px;
    border-radius: 3px;
    background-color: $brand_1;
  }

  .item-height {
    min-height: 70px;
  }
}
