@import "./variables";

.sort {
  background-color: $white;
  padding: 20px;
  margin-top: 10px;
}

.sort-container {
  display: flex;
  flex-direction: column;
  height: 115px;
  overflow: auto;
}

.sort-area {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;

  .title {
    font-size: 13px;
    color: #697488;
    font-weight: 600;
  }

  .ant-radio-wrapper .ant-radio-inner {
    border-color: $brand_1;
  }

  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: $brand_1;
    background-color: transparent;
  }

  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
    border-color: #c3c3c3;
    background-color: transparent;
    background-image: url("./../img/check.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    inset-block-start: 25%;
    inset-inline-start: 25%;
  }
}

.search-box {
  margin-bottom: 10px;
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
}

.all-item {
  margin-bottom: 20px;
}

.search-input {
  border-radius: 1px;
  height: 40px;
}
